<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
  </head>
  <body>
    <div class="relative h-[400px]">
      <img
        src="./image/about.jpg"
        class="absolute inset-0 w-[1920px]  h-[500px]"
        alt=""
        width="1224px"
      />
      <div
        class="absolute text-white text-[80px] top-[70%] left-1/2 transform -translate-x-[50%] -translate-y-[50%] "
      >
        ABOUT THE PIER
      </div>
    </div>
    <div class="flex gap-[100px]  mt-[200px] w-[100%] justify-center">
      <div class="w-[600px] "><img src="./image/โลโก้สีส้ม.png" alt=""></div>
      <div>
        <div class="font-normal text-[50px]">PHAYAO PLACE</div>
        <div class="font-light text-gray-400 w-[550px] mt-[50px] text-[30px]  ">
          This hotel is located near the mountains. During the next season, there will be a beautiful sea of ​​clouds in the morning and evening. In the morning you will see the view from the sunlight. Passing over the beautiful sea of ​​mist, in the evening there will be an orange light. and saw the view of the sun sinking into the sea of ​​mist</div>
      </div>
    </div>
  </body>
</html>
