<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
  </head>
  <body>
    <div class="relative h-[580px]">
      <img
        src="./image/bgAbout.svg"
        class="absolute inset-0 h-[580px]"
        alt=""
      />
      <div
        class="absolute text-white text-[80px] top-[50%] left-1/2 transform -translate-x-[50%] -translate-y-[50%] "
      >
        ABOUT THE PIER
      </div>
    </div>
  </body>
</html>
