<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dining</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
  </head>
  <body>
    <div class="relative h-[350px]">
      <img
        src="./image/อาหารใหญ่.jpg"
        class="absolute inset-0 w-[1920px]  h-[500px]"
        alt=""
        width="1224px"
      />
      <div
        class="absolute text-white text-[80px] top-[70%] left-1/2 transform -translate-x-[50%] -translate-y-[50%] "
      >
      DINING
      </div>
    </div>
    <div class="flex gap-[100px]  mt-[200px] w-[100%] justify-center">
      <div class="w-[600px] flex flex-col items-center justify-center gap-[300px]">
        <img src="./image/Dining.png" alt="">
        <img src="./image/Diningg.png" alt="">
      </div>
      <div>
        <div class="font-normal text-[50px]">RESTAURANT</div>
        <div class="font-light text-gray-400 w-[550px] mt-[50px] text-[30px] ">
          Starting from June 1, 2024, BRICK LANE restaurant located on the ground floor of The Pier will introduce a new breakfast service exclusively for the hotel's in-house guests. Visitors can look forwarding to experiencing delectable culinary while enjoying the restaurant's breathtaking seascape views.

          <div class="pl-[0.1rem] text-[29px] ">The breakfast service will be available daily from 8am- 11 am, with the last order accepted at 10:15am.</div>

          <div class="pl-[0.1rem] text-[29px]">*Only serves breakfast hours till 11am.</div>

          <div class="pl-[0.1rem] text-[29px]">DINING EXPERIENCE</div> 

          <div class="pl-[0.1rem] text-[29px]">THE PIER partners with BRICK LANE to offer an exclusive private dining room catering service. This intimate setting is perfect for small gatherings, birthdays, or business functions. The meticulously crafted BRICK LANE menu allows guests to savor delicious cuisine, complemented by the stunning Pak Sha Wan sea view. This creates the ideal atmosphere for celebratory occasions and special events. Elevate your next gathering with our exceptional private dining experience.</div>
        </div>
      </div>
    </div>

    

  </body>
</html>
