<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facilities</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
  </head>
  <div>
    <div class="relative h-[400px]">
      <img
        src="./image/Facilities.jpg"
        class="absolute inset-0 w-[1890px]  h-[500px]"
        alt=""
        width="1224px"
      />
      <div
        class="absolute text-white text-[80px] top-[70%] left-1/2 transform -translate-x-[50%] -translate-y-[50%] "
      >
      FACILITIES & SERVICE
      </div>
    </div>
    <div class="flex gap-[100px]  mt-[200px] w-[100%] justify-center">
      <div class="w-[500px] "><img  src="./image/หน้าFacilities.jpg" alt=""></div>
      <div >
        <div class="font-normal text-[50px]">ROOFTOP GARDEN</div>
        <div class="font-light text-gray-400 w-[800px] mt-[50px] text-[30px] ">
          Located at top floor of The Pier with sweeping views of the ocean, you can escape away from the hustle and bustle with your friends and relatives.</div>
      </div>
    </div>

    <div class="flex gap-[80px]  mt-[200px] w-[100%] justify-center">
        <div >
            <div class=" font-normal text-[50px]">SWIMMING POOL</div>
            <div class=" font-light text-gray-400 w-[900px] mt-[50px] text-[30px]  ">
                Floating in the most spectacular rooftop swimming pool in Hong Kong, you shall gaze down on the glittering sky and scenic ocean view altogether at The Pier Hotel. Imagine yourself laying on the stylish daybeds overlooking the magnificent sunset, you are basking in the sky, the beach and the pool.
                <br><br/>
                <div>Opening hours : Tuesdays</div>
                <div class="pl-[22rem] text-[25px]">Morning Session : 9 am to 1 pm</div>
                <div class="pl-[22rem] text-[25px]"> Session : 3 pm to 6 pm</div>
                <div class="pl-[22rem] text-[25px]">Closed from 1 pm to 3 pm</div>
                <div class="pl-[22rem] text-[25px]">Mondays, Wednesday to Sundays</div>
                <div class="pl-[22rem] text-[25px]">Morning Session : 9 am to 1 pm</div>
    Afternoon Session : 2 pm to 6 pm
    Closed from 1 pm to 2 pm</div><br><br/>
    
    <div class="font-normal text-[50px]">PET FACILITIES (PET POOL / BALL PIT)</div>
    <div class="font-light text-gray-400 w-[900px] mt-[50px] text-[30px] ">
        Pets can relish a swim in the pet pool for splashing good time. There is equipped with dryer & outdoor tents. This fully self-service amenity requires pet owners to assist their pets in entering the pool, washing, and grooming their fur independently.​​
Opening hours: 11am to 8pm</div>
            </div>
            <div><img src="./image/หน้า F.png" alt=""></div>
        </div>

        <div class="flex gap-[100px]  mt-[200px] w-[100%] justify-center">
            <div class="w-[700px] "><img src="./image/หน้า FF.png" alt=""></div>
            <div>
              <div class="font-normal text-[50px]">GYMNASTIC CLUB</div>
              <div class="font-light text-gray-400 w-[550px] mt-[50px] text-[30px] ">
                Immerse yourself in VIP privileges with exclusive entry to our gymnastic club, a full range of technologically advanced gymnastic equipment lead our guests to turn each workout into an adventure.
                <br><br/>
                Opening hours: 7 am to 10 pm
            </div>
            </div>
          </div>

          <div class="flex gap-[80px]  mt-[200px] w-[100%] justify-center">
            <div >
                <div class=" font-normal text-[50px]">CAR PARKING</div>
                <div class=" font-light text-gray-400 w-[900px] mt-[50px] text-[30px]  ">
                    We have over 40 covered parking spaces to meet your needs but subject to its avaliability. Charging station is avaliable for eco-friendly electrical cars too.
                    <br><br/>
                </div>
                </div>
                <div><img src="./image/โรงจอดรถ.png" alt=""></div>
            </div>

  </body>
</html>
